<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Validation">
            <directory>test/Validation</directory>
        </testsuite>
        <testsuite name="Util">
            <directory>test/Util</directory>
        </testsuite>
        <testsuite name="Verification">
            <directory>test/Verification</directory>
        </testsuite>
        <testsuite name="RateLimit">
            <directory>test/RateLimit</directory>
        </testsuite>
        <testsuite name="AI">
            <directory>test/AI</directory>
        </testsuite>
        <testsuite name="AISpam">
            <directory>test/AISpam</directory>
        </testsuite>
        <testsuite name="Results">
            <directory>test/Results</directory>
        </testsuite>
        <testsuite name="Config">
            <directory>test/Config</directory>
        </testsuite>
        <testsuite name="Lang">
            <directory>test/Lang</directory>
        </testsuite>
    </testsuites>
</phpunit>
